body
{
    color: green;
    text-align: center;
    font-family: courier;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 50%;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
}
#container h1
{
    color: grey;
    font-size: 50px;
}